@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --background: #e6e6dc;
  --foreground: #000000;
  --primary: #5a2d82;
  --neutral: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-neutral: var(--neutral);
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
  --text-md: 17px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e6e6dc;
    --foreground: #000000;
    --primary: #5a2d82;
    --neutral: #ffffff;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
}
html,
body {
  scroll-behavior: smooth;
}
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  .logo {
    @apply font-heading;
  }
  .logo {
    @apply font-semibold;
  }
  header,
  footer,
  section {
    @apply px-4 md:px-8 lg:px-12;
  }
  section {
    @apply py-15;
  }
  p,
  li,
  span {
    @apply font-medium;
  }
  .heading {
    @apply text-4xl md:text-5xl font-bold leading-tight *:text-primary;
  }
}
@layer components {
  .btnBaseStyle {
    @apply font-bold rounded cursor-pointer py-2 px-4 border-b-4 transition-all duration-200  w-fit;
  }
  .socialStyles {
    @apply bg-primary rounded-full flex justify-center items-center  text-neutral;
  }
}

/* animations */
.animate-card {
  animation: cardAppear linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 35%;
}
@keyframes cardAppear {
  from {
    opacity: 0;
    filter: blur(12px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}
.animate-dot {
  animation: dot ease both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
@keyframes dot {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-left {
  animation: leftAnimation ease both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
@keyframes leftAnimation {
  from {
    transform: translateX(-500px);
    filter: blur(12px);
  }
  to {
    transform: translateX(0px);
    filter: blur(0px);
  }
}
.animate-right {
  animation: rightAnimation ease both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
@keyframes rightAnimation {
  from {
    transform: translateX(500px);
    filter: blur(12px);
  }
  to {
    transform: translateX(0px);
    filter: blur(0px);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--color-background) inset !important; /* background */
  -webkit-text-fill-color: var(--color-foreground) !important; /* text color */
  transition: all 0.5s ease-in-out 0s;
}
input:-moz-autofill {
  box-shadow: 0 0 0 100px var(--color-background) inset !important;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: var(--color-primary);
  border-radius: 4px;
}

#bar2 {
  transition-duration: 0.8s;
}

#bar1,
#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

/* 
Color	Hex	Use case / vibe
Deep Blue	#003366	Bold, professional, techy, works well on light bg and white text
Teal / Cyan	#007C91	Modern, approachable, still strong, good for focus elements
Royal Purple	#5A2D82	Creative, premium feel, stands out on light background
Dark Orange	#D96C00	Energetic without being red; works for buttons/accents
Forest Green	#1B5E20	Confident, fresh, readable, professional
*/
.mt-10 {
  margin-top: 60px !important;
}
.message-label,
.form-label {
  position: absolute;
  left: 10px;
  transform: translateY(-50%);
  transition: 0.3s ease;
  pointer-events: none;
  padding: 0 5px;
  background: var(--background);
}
.form-label {
  top: 50%;
}
.message-label {
  top: 15%;
}

.form-input:valid + .form-label,
.form-input:valid + .message-label,
.form-input:focus + .form-label,
.form-input:focus + .message-label,
.form-input:not(:placeholder-shown) + .message-label,
.form-input:not(:placeholder-shown) + .form-label {
  top: -1px;
  font-size: 14px;
}
/* vertical line */
.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 2%;
  width: 6px;
  height: 90%;
  background: var(--primary);
  transform: translateX(-50%);
}
.timeline-item.card-right {
  margin-left: calc(50% + 50px);
}
.timeline-item.card-left {
  margin-right: 50px;
  max-width: calc(50% - 50px);
}

/* small circle */
.timeline-item .dot {
  position: absolute;
  top: 27%;
  right: -59px;
  width: 18px;
  height: 18px;
  background: var(--primary);
  border-radius: 50%;
  z-index: 22;
  border: 2px solid var(--neutral);
}

.timeline-item.card-right .dot {
  left: -59px;
  right: auto;
  background: var(--primary) !important;
}
.timeline-item::before {
  content: "";
  position: absolute;
  top: 25%;
  border-style: solid;
  animation: cardAppear linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.timeline-item.card-right::before {
  left: -29px;
  border-width: 20px 30px 20px 0;
  border-color: transparent var(--primary) transparent transparent;
}
.timeline-item.card-left::before {
  right: -29px;
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent var(--primary);
}

/* mobile */
@media (max-width: 768px) {
  .timeline::before {
    left: 10px;
  }

  .timeline-item,
  .timeline-item.card-right {
    max-width: calc(100% - 55px);
    margin-left: 55px;
    margin-right: 0px;
  }
  .timeline-item.card-left {
    max-width: calc(100% - 55px);
    margin-right: -55px;
  }

  .timeline-item .dot,
  .timeline-item.card-right .dot {
    top: 26.5%;
    left: -55px;
    /* right: -40px; */
  }
  .timeline-item.card-left::before {
    right: 100%;
    border-width: 20px 30px 20px 0;
    border-color: transparent var(--primary) transparent transparent;
  }
}
